{{!< default}}

<header class = "nav-down">
	{{navigation}}
</header>

<main role="main">
	<div class = "container img-contain">
		<img src="/assets/images/Work/Demere/demere1.jpg">
		<img src="/assets/images/Work/Demere/demere2.jpg">
		<img src="/assets/images/Work/Demere/demere3.jpg">
		<img src="/assets/images/Work/Demere/demere4.jpg">

	</div>

</main>
