{{!< default}}

<main role="main">
    <div class = "container">

        <div class = "issue-info"><span class = "issue-no">no</span> February 1995</div>
        <div class = "issue-number"><h5>25</h5></div>
        <div class = "publication-info">PRINTED IN NY</div>

        <div class = "cover-image">
          <img src="{{asset "images/portrait.jpg"}}" alt="portrait" />
	      </div>

        <div class = "center-container">
<!-- Information about me, with contact info and social media links-->
            <div class = "about-container">
                <div class = "about-content">
                    <p class = "about-header">Editor-in-chief : Seean Kim</p>
                    <p>I am based in New York. I graduated from UMD with a degree in Computer Science. Sanminimal will be
                    where I share my love for design, food, and fashion.</p>
                    <p>Interested in the theme? I made the code available open-souce on <a href = "https://github.com/Skim-chee/sanminimal">my github</a></p>
                    <p>Email me at <a href = "mailto:sanminimal@gmail.com">sanminimal@gmail.com</a></p>
<!-- <p>I will gladly review your product, just shoot me an email! All reviews are honest and are written after extended use. I do not publish press releases, and you must send in your product for a review. </p>-->
                </div>
                <div class = "instagram">
                    <br>
                    <a href = "https://www.instagram.com/seean_kim/" target="_blank"><img src="{{asset "images/instagram.svg"}}" onmouseover="this.src = '{{asset "images/instagram-hover.svg"}}'" onmouseout="this.src = '{{asset "images/instagram.svg"}}'" alt="portrait" /></a>
                </div>
            </div>
        </div>
    </div>
</main>
