{{!< default}}

<main role="main">
    <div class = "container">
        <div class = "cover-image">
          <div class = "portfolio-header-image">


            <svg width="100%" height="100%" viewBox="0 0 896 575" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD" transform="translate(-272.000000, -49.000000)">
                        <g id="Group" transform="translate(272.000000, 49.000000)">
                            <rect id="Rectangle" fill="#FCC9B9" x="0" y="0" width="896" height="575"></rect>
                            <text id="Seean-Kim" font-family="PlayfairDisplay-Black, Playfair Display" font-size="133" font-weight="700" line-spacing="126.349998" letter-spacing="2" fill="#FEFEFE">
                                <tspan x="107" y="325">Seean Kim</tspan>
                            </text>
                            <text id="product-designer-&amp;-f" font-family="Lato-Bold, Lato" font-size="31.3999996" font-weight="bold" letter-spacing="1.23137259" fill="#FEFEFE">
                                <tspan x="258.5" y="389">FRONTEND DEVELOPMENT  </tspan>
                                <tspan x="258.5" y="425">&amp; PRODUCT DESIGN</tspan>
                            </text>
                        </g>
                    </g>
                </g>
            </svg>
          </div>
	      </div>

        <div class = "container portfolio-container">
<!-- Information about me, with contact info and social media links-->
            <p class = "portfolio-body">My goal is to support creatives through purposeful design and simplistic code. I am a recent graduate with a computer science degree from UMD. I'm looking for a front end developer position with a passion for programming design systems and learning new frameworks. </p>

            <h1 class = "portfolio-header"> Work </h1>
            <ul class = "portfolio-list">
              <!-- <li> <a href = "/sanminimal" target="_blank">Sanminimal <span class = "portfolio-date">2017</span></a></li> -->

              <li> <a href = "https://sanminimal.com" target="_blank">Sanminimal <span class = "portfolio-date">2017</span></a>
              </li>

              <div class = "dropdown">
                <h2>Ghost</h2>
                <h2>SASS</h2>
                <h2>Javascript</h2>
              </div>

              <li> <a href = "https://medium.com/@skim_chee/grailed-ca13d3e3cff6" target="_blank">Grailed <span class = "portfolio-date">2017</span></a></li>
            </ul>

            <ul class = "portfolio-social">
              <li><a href = "mailto:kim.seean@gmail.com?Subject=Hey!">Email</a>
              <li><a href = "https://github.com/skim-chee" target="_blank">Github</a>
              <li><a href = "https://linkedin.com/in/kimseean" target="_blank">LinkedIn</a>
              <li><a href = "https://dribbble.com/skimchee" target="_blank">Dribbble</a>
              <li><a href = "https://instagram.com/seean_kim" target="_blank">Instagram</a>
            </ul>
        </div>
    </div>
</main>
