{{!< default}}

<main role="main">
    <div class = "container">
        <div class = "cover-image">
          <div class = "portfolio-header">


            <svg width="896px" height="575px" viewBox="0 0 896 575" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD" transform="translate(-272.000000, -49.000000)">
                        <g id="Group" transform="translate(272.000000, 49.000000)">
                            <rect id="Rectangle" fill="#FCC9B9" x="0" y="0" width="896" height="575"></rect>
                            <text id="Seean-Kim" font-family="PlayfairDisplay-Black, Playfair Display" font-size="133" font-weight="700" line-spacing="126.349998" letter-spacing="2" fill="#FEFEFE">
                                <tspan x="107" y="325">Seean Kim</tspan>
                            </text>
                            <text id="product-designer-&amp;-f" font-family="Lato-Bold, Lato" font-size="31.3999996" font-weight="bold" letter-spacing="1.23137259" fill="#FEFEFE">
                                <tspan x="258.5" y="389">PRODUCT DESIGNER &amp; </tspan>
                                <tspan x="258.5" y="425">FRONTEND DEVELOPER</tspan>
                            </text>
                        </g>
                    </g>
                </g>
            </svg>
          </div>
	      </div>

        <div class = "container center-container">
<!-- Information about me, with contact info and social media links-->
            <div class = "about-container">
                <div class = "about-content">
                    <p class = "about-header">Editor-in-chief : Seean Kim</p>
                    <p>I am based in New York. I graduated from UMD with a degree in Computer Science. Sanminimal will be
                    where I share my love for design, food, and fashion.</p>
                    <p>Interested in the theme? I made the code available open-souce on <a href = "https://github.com/Skim-chee/sanminimal">my Github</a></p>
                    <p>Email me at <a href = "mailto:sanminimal@gmail.com">sanminimal@gmail.com</a></p>
<!-- <p>I will gladly review your product, just shoot me an email! All reviews are honest and are written after extended use. I do not publish press releases, and you must send in your product for a review. </p>-->
                </div>
                <div class = "instagram">
                    <br>
                    <a href = "https://www.instagram.com/seean_kim/" target="_blank"><img src="{{asset "images/instagram.svg"}}" onmouseover="this.src = '{{asset "images/instagram-hover.svg"}}'" onmouseout="this.src = '{{asset "images/instagram.svg"}}'" alt="portrait" /></a>
                </div>
            </div>
        </div>
    </div>
</main>
