{{!< default}}

<main role="main">
    <div class = "container">
        <div class = "cover-image">
            <img src="{{asset "images/sanminimal-macbook-min.png"}}" alt="website on mac" class = "portfolio-header-image"></img>
	      </div>

        <div class = "container">
          <h1 class = "portfolio-header"> Sanminimal </h1>
          <p class = "portfolio-body">It has long been a goal of mine to create a creative outlet to provide unique insights and inspiration to others as it has been done to me. I decided to combine two of my passions, writing and photography, and gave birth to a beautiful baby blog. </p>

          <h1 class = "portfolio-header"> Inspiration </h1>
          <p class = "portfolio-body">I knew I wanted to write and take pretty pictures, but
          the important question was of what? I first looked into my past. There were two blogs that stood out amongst the many I follow. </p>
        </div>
    </div>
</main>
