{{!< default}}

<main role="main">
    <div class = "container">
		<header class="post-header">
            <!-- Sanminimal logo, links to homepage -->
			<a class="blog-logo" href="{{@blog.url}}"><img src="{{asset "images/Logo.svg"}}" alt="{{@blog.title}}" /></a>
		</header>
    
        <div id = "about-image">
            <img src="{{asset "images/portrait.jpg"}}" alt="portrait" />
	    </div>
        
    </div>
</main>