/*****************
Styles Cover-Image
*****************/
.post-url {
  display: none;
}
//Styles Blog header
.post-header {
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  @include flexbox();
  justify-content: center;
  @include phone {
    width: 100%;
    left: auto;
    margin-left: auto;
  }

  .blog-logo {
    img {
      width: 500px;
      @include phone {
        width: 100%;
      }
    }
  }
}
//Pushes Cover-image below blog logo appropriate distance
.cover-image {
  img {
    z-index: -1;
    margin-top: 109px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.issue-info,
.publication-info {
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  z-index: 1;
  display: none;
  width: 300px;
  position: absolute;
}

.info-visible {
  display: inherit;
}

.issue-info {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: $size-2;
}

.publication-info {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: $size-1;
}
