/**************
Individual link stylizations
***************/
.nav a {
  @include font($size-1, 300, $sans-serif);
  color: $black-main;
  &:hover {
    color:$pink-main;
  }
}
//general links

.post-link {
  display: inline-block;
  margin-top: $size-0;
}
//For tags
.post-meta,
.post-meta a {
  @include font($size-2, 100, $serif);
  color: $gray-main;
  @include margin-vertical(6);
}

.post-meta a:hover,
.title-link h1:hover {
  color: $pink-main;
}

.portfolio-list a{
  color: $black-main;
  &:hover {
    color:$white-main;
  }
}
