/**************
Individual link stylizations
***************/

//general links

.post-link {
  display: inline-block;
  margin-top: $size-0;
}
//For tags
.post-meta,
.post-meta a {
  color: $gray-main;
  margin: $size-3 0;
}
//For page navigation links
.pagination a {
  color: $gray-main;

  &:hover {
    color: $pink-main;
  }
}

.post-meta a:hover,
.title-link h1:hover {
  color: $pink-main;
}
