/**************
Individual link stylizations
***************/
.nav a {
  font-size: $size-1;
  color: $black-main;
  &:hover {
    color:$pink-main;
  }
}
//general links

.post-link {
  display: inline-block;
  margin-top: $size-0;
}
//For tags
.post-meta,
.post-meta a {
  font-size: $size-1;
  color: $gray-main;
  margin: 32px 0;
}

.post-meta a:hover,
.title-link h1:hover {
  color: $pink-main;
}

.portfolio-list a{
  color: $black-main;
  &:hover {
    color:$white-main;
  }
}
