.navbar{   
    height: 50px;
    margin-top: 10px;
    width: 100%;
    @include flexbox();
    justify-content: center;
    
	//	Active nav tab
	.nav-current a {
		color: $pink-main;
	}
        
    
	//	Main nav bar 
	.nav{
        width: 950px;
        @include flexbox();
        list-style-type: none;
		margin: 0;
		padding: 0;

        // Styles individual links in navbar
        li {
            padding: .875rem 1.25rem;

            a {
                height: inherit;
                width: inherit;
                // Hovor effect of links
                &:hover {
                    color: $pink-main;
                }
            }
        }
	}
    
    /************************
    Specific nav styling    
    ************************/
    
    // Make default homebutton invisible
	.nav-home {
		display: none;
	}
    
    .nav-sight {
        margin-right: auto;
    }
    
    .nav-archive, .nav-about {
    }


}
