.post-header{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    @include flexbox();
    justify-content: center;
    
    .blog-logo {
        img {
            width: 350px;
        }
    }
}


.post {
    
	p {        
        column-count: 2;
        @include phone(){
            column-count: 1;
        }
	}
    
    p > img {
        display: block;
        height: 600px;
        margin-left: 50%;
        @include transform(translateX(-50%));
        @include columnbreak();
    }
    
    .landscape {
    }
    
    .caption {
    
    }
    

}

