.post-header{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    @include flexbox();
    justify-content: center;
    .blog-logo {
        img {
            width: 350px;
        }
    }
}


.post {
    
	p {
		font-size: 14px;
		line-height: 25px;
        column-count: 2;
	}
    
    p > img {
        display: block;
        height: 800px;
        margin-left: 50%;
        @include transform(translateX(-50%));
        column-span: all; 

    }
    
    .caption {
        color: $gray-main;
        font-size: 11px;
        letter-spacing: 2px;
        
        @include flexbox();
        justify-content: center;
    }
    

}

