.post-header{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    @include flexbox();
    justify-content: center;
    .blog-logo {
        img {
            width: 350px;
        }
    }
}

.post {
	margin: auto;
	max-width: 400px;
	background-color: #fff;
    
	a {
	}
	h2 {
		margin: 0;
		margin-bottom: 25px;
	}
	p {
		font-size: 14px;
		line-height: 25px;
       
	}
	.post-date {
	}
    
    #cover-image {
        img {
            width: 400px;
            margin-top: 72px; 
            
            &, &:active, &:hover {
                outline: none !important;
            }
        }
    }
    #issue-info, #publication-info {
        /* Safari */
        -webkit-transform: rotate(90deg);
        /* Firefox */
        -moz-transform: rotate(90deg);
        /* IE */
        -ms-transform: rotate(90deg);
        /* Opera */
        -o-transform: rotate(90deg);
        
        width: 200px;
        position: absolute;
        font-weight: 400;
    }

}
