.rating-system {
  @include phone() {
    margin: auto;
  }

  ul {
    list-style-type: none;
    color: $black-main;
    padding: 0;
    li {
      margin: $size-0 0;
      margin-right: $size-0;
      @include font($size-1, 300);

      span {
        display: inline-block;
        height: 35px;
        width: 35px;
        margin-right: $size-0;
        vertical-align: middle;
      }
    }
  }
}
.rating {
  @include center-text();
  margin-bottom: $size-5;

  span {
    height: 35px;
    width: 35px;
    margin: 0 $size-0;
  }
}

.rating-active {
  background: url("../images/RatingActive.svg") no-repeat;

}
.rating-inactive {
  background: url("../images/Rating.svg") no-repeat;
}
