.search-form {
    margin-top: 15px;
}

.search-field {
    margin-bottom: 10px;
}

input[type="text"] {
    position: absolute;
    border: none;
    outline: none;
    height: 22px;
    width: 150px;
    @include transition(0.3s ease);
    border-bottom: 1px solid transparent;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: $black-main;
}

input[type="text"]:focus {
    width: 375px;
    border-bottom: 1px solid $black-main;
}

.search-results {

}
.search-results li {
    list-style-type: none;
}

.results-hide, .index-hide{
    display: none;
}