/********************
Text components
********************/
.post {
  p {
    font-family: $serif;
    line-height: $size-2*1.4;
    column-count: 2;
    @include phone() {
      column-count: 1;
    }
  }
  // //Bugfix for Firefox, column-count conflicts with <br> tag for star rating system :/
  // .rating-system p {
  //   column-count: 1;
  // }
}
