//Weird Cap in Light Pink
$pink-main: #F7C7CC;

//Weird Cap in Baby Blue
$blue-main: #C1D1E5;
$blue-lt: #e7f1ff;

$purp-main: #ddbbdd;

$yellow-main: #ffffdd;

$gray-dark: #6d6b6b;
$gray-main: #bfbfbf;
$gray-lt: #f6f6f6;

$white: #ffffff;