body {
    background-color: $white-main;
}

.container {
    margin: auto;
	max-width: 800px;
}

.center-container {
    margin: auto;
    width: 400px;
}

img {
    @include phone {
        max-width: 100%;
    }
}

footer {
    section {
        float: right;
    }
    
    .copyright {
        font-weight: 300;
        margin-bottom: $size-3;
        font-size: $size-1;
    }
}
   