body {
    color: $black-main;
	background-color: $white-main;
}

a {
	color: $black-main;
	font-weight: 400;
    &:hover {
        color: $pink-main;
    }
}

img {
    &, &:active, &:hover {
        outline: none !important;
    }
}

p {
    font-size: 13px;
    letter-spacing: 0.75px;
}

.container {
    margin: auto;
	max-width: 800px;
}

.center-container {
    margin: auto;
    width: 400px;
}



   