body {
    color: $black-main;
	background-color: $white-main;
}

a {
	color: $black-main;
	font-weight: 400;
    &:hover {
        color: $pink-main;
    }
}

img {
    &, &:active, &:hover {
        outline: none !important;
    }
}

.container {
    margin: auto;
	max-width: 800px;
}

.center-container {
    margin: auto;
    width: 400px;
}

.post-link {
    display: inline-block;
    letter-spacing: normal;
    margin-top: $size-1;
}


   