.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	flex-basis: 100%;
}

@media screen and (min-width: 800px) {
	.column {
		flex: 1;
	}
}

@media screen and (min-width: 800px) {
	._20 {
		flex: 2;
	}
	._25 {
		flex: 2.5;
	}
	._50 {
		flex: 5;
	}

	._60 {
		flex: 2;
	}

	._75 {
		flex: 2;
	}
}