$serif: 'Playfair Display', serif;

p {
    color: $black-main;
    font-size: $size-2;
    font-weight: 300;
    margin-top: $size-3;
    margin-bottom: 0;
    line-height: $size-3;
}

h1, h2, h3 {
    color: $black-main;
    font-family: $serif;
}

h1 {
    
}

h2 {
    font-size: $size-4;
    font-family: $serif;
    font-weight: 700;
    margin: $size-2 0;
}

h3 {
    font-size: $size-4;
    font-family: $serif;
    font-weight: 700;
    margin: $size-2 0;
}

h4 {
    
}

h5 {
    
}

h6 {
    font-size: $size-2;
    color: $gray-main;
    font-weight: 300;
    margin: $size-1 0;
    
    @include flexbox();
    justify-content: center; 
}

a {
    color: $black-main;
    font-size: $size-2;
    font-weight: 400;
                
    // Hovor effect of links
    &:hover {
        color: $pink-main;
    }
}
.nav-link {
    font-weight: 300;
    letter-spacing: 6px;
}

.post-link {
    display: inline-block;
    margin-top: $size-1;
}

.img-link {
    color: $gray-main;
    margin: $size-1 0;
    
    @include columnbreak();
    @include flexbox();
    justify-content: center; 
}
