/**
 * Base Typography classes, fit to how ghost editor works
 * Ghost creates <p> block for every content block
 * Manually have to add <h#> tags and <a> tags when appropriate
 */

//typography presets
@mixin font($size, $weight:300, $type:$sans-serif) {
  font-size: $size;
  font-weight: $weight;
  font-family: $type;
}
@mixin center-text() {
  @include flexbox();
  justify-content: center;
}

::selection {
  color: $white;
  background: $pink-main;
}

p {
  @include font($size-2);
  line-height: $size-3;
  //Sets Margin between every element in a post
  margin: 48px 0;
  color: $black-main;
}

h1,
h2,
h3 {
  margin: 0;
  color: $black-main;
}

h1 {
  a {
    @include font($size-4, 900, $serif);
    @include center-text();

    margin-top: 64px;

    @include phone {
      text-align: center;
      font-size: $size-3;
    }
  }
}

h2 {
  @include font($size-2);
  @include center-text();

  margin: 8px 0;
  color: $gray-main;

  a {
    font-weight: 300;
    color: $gray-main;
  }
}

h6 {
  font-size: $size-2;
  font-weight: 300;
  margin: $size-1 0;
  color: $gray-main;
  @include flexbox();
  justify-content: center;
}

a {
  font-size: $size-2;
  font-weight: 300;
  color: $gray-main;
  // Hovor effect of links
  &:hover {
    color: $pink-main;
  }
}
