@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,700i,900,900i');

//Main Color
$white: #FFFFFF;
$black: #000000;
$white-main: #FEFEFE;
$black-main: #333333;
$gray-main: #BBBBBB;
//Accent Color
//Sakura-iro "Cherry Blossom"
$pink-main: #FCC9B9;

// Font sizes - based on golden ratio
$size-1: .597rem;
$size-2: .966rem;
//My favorite size <3
$size-3: 1.5625rem;
$size-4: 2.528rem;
$size-5: 4.091rem;
$size-6: 6.618rem;

// Font family
$sans-serif: 'Lato', sans-serif;
$serif: 'Playfair Display', serif;
