/*****************
Styles Cover-Image
*****************/
.post-header {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  @include flexbox();
  justify-content: center;
  @include small {
    width: 100%;
    left: auto;
    margin-left: auto;
  }

  .blog-logo {
    img {
      width: 500px;
      @include phone {
        width: 100%;
      }
    }
  }
}
//Pushes Cover-image below blog logo appropriate distance

.cover-image {
  img {
    margin-top: 109px;
    @include phone {
      margin-top: 65px;
    }
  }
}

/******************
* Side components *
******************/
.issue-info,
.issue-number,
.publication-info {
  display: none;
  position: absolute;
  font-weight: 300;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  cursor: default;
}

.issue-info,
.publication-info {
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
     -moz-transform: rotate(90deg);
  /* IE */
      -ms-transform: rotate(90deg);
  /* Opera */
       -o-transform: rotate(90deg);
}

.issue-info {
  letter-spacing: 4px;
  font-size: 15.456px;
  width: 300px;

  .issue-no {
    font-size: 40.448px;
    font-weight: 600;
    display: inline;
  }
}

.issue-number {
  letter-spacing: 4px;
  font-size: 40.448px;
  float: right;
  width: 175px;

  h5 {
    float: right;
  }
}

.issue-pink {
  color: $pink-main;
}

.publication-info {
  letter-spacing: 2px;
  font-size: 9.552px;
  color: $white-main;
  background-color: $pink-main;
  padding: 9.552px;
}

//Adds visibility to side info when screen is bigger than tablet
.info-visible {
  display: inherit;
}
//Helpers for Index to grab info about post for Disqus
.post-url,
.post-id {
  display: none;
}
