.cover-image > img,
p > img {
  width: 896px;
  @include phone {
    max-width: 100%;
  }
}

.horizontal > p > img {
  width: 100vw;
  @include release();

  @include phone {
    max-width: 100%;
    margin-left: auto;
  }
}

img {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  z-index: 0;
}

img[data-src] {
  height: 1160px;
  width: 896px;
  opacity: 0;

}
