.cover-image > img,
p > img {
  width: 896px;
  @include phone {
    max-width: 100%;
  }
}

.horizontal > p > img {
  width: 100vw;
  @include release();

  @include phone {
    max-width: 100%;
    margin-left: auto;
  }
}
