body {

}

.container {
  max-width: 896px;
  margin: auto;
}

.center-container {
  width: 450px;
}

img {
  @include phone {
    max-width: 100%;
  }
}

footer {
  section {
    float: right;
  }

  .copyright {
    font-size: $size-1;
    font-weight: 300;
    margin-bottom: $size-2;
  }
}
