.container {
  max-width: 896px;
  margin: auto;
}

.center-container {
  width: 672px;
  @include phone {
    width: 90%;
  }
}

img {
  @include phone {
    max-width: 100%;
  }
}

footer {
  section {
    float: right;
  }

  .copyright {
    @include font($size-1, 300, $serif);
    margin: 24px 0;
  }
}
