/********************
 Navigation
********************/
.navbar {
  height: 32px;
  margin-top: 16px;
  max-width: 100%;
  @include flexbox();
  justify-content: center;
  //	Active nav tab
  .nav-current a {
    color: $pink-main;
  }
  //	Main nav bar
  .nav {
    width: 896px;
    @include flexbox();
    list-style-type: none;
    margin: 0;
    padding: 0;
    // Styles individual links in navbar
    li {
      padding: .875rem 0;
      @include phone {
        padding: .075rem .5rem;
      }
    }

    li:not(:last-child) {
      padding-right: 2rem;
    }

    //Nav bar
    .nav-link {
      letter-spacing: 3px;

      @include phone {
        font-size: $size-0;
        letter-spacing: 1px;
      }
    }
  }
  /************************
    Specific nav styling
    ************************/
  // Make default homebutton invisible
  .nav-home {
    display: none;
  }
  // Pushes Index/About to the right side
  .nav-sight {
    margin-right: auto;
  }
}
/********************
Pagination Navigation
********************/
.pagination {
  height: 80px;
  line-height: 80px;
  @include margin-vertical(6);
  border-top: 1px solid $gray-main;
  border-bottom: 1px solid $gray-main;
}
.pagination-arrow {
  font-family: $sans-serif;
}
.older-posts {
  float: right;
}
.newer-posts {
  float:left;
}
