/********************
 Navigation
********************/
.navbar {
  height: $size-4;
  margin-top: $size-1;
  max-width: 100%;
  @include flexbox();
  justify-content: center;
  //	Active nav tab
  .nav-current a {
    color: $pink-main;
  }
  //	Main nav bar
  .nav {
    width: 900px;
    @include flexbox();
    list-style-type: none;
    margin: 0;
    padding: 0;
    // Styles individual links in navbar
    li {
      padding: .875rem 0;
      @include phone {
        padding: .075rem .1rem;
      }
    }

    li:not(:last-child) {
      padding-right: 1.25rem;
    }

    //Nav bar
    .nav-link {
      font-weight: 300;
      letter-spacing: 6px;

      @include phone {
        font-size: $size-1;
        letter-spacing: 1px;
      }
    }
  }
  /************************
    Specific nav styling
    ************************/
  // Make default homebutton invisible
  .nav-home {
    display: none;
  }
  // Pushes Index/About to the right side
  .nav-sight {
    margin-right: auto;
  }
}
/********************
Pagination Navigation
********************/
.pagination {
  height: 25px;
  margin: $size-3 0;
}

.older-posts {
  float: right;
}
