/**
About Page
**/
.about-container {
  @include flexbox();
  justify-content: space-between;

  .about-content {
    position: relative;
    left: 0;
    width: 250px;
  }

  .about-header {
    font-weight: 400;
    padding: 5px 0;
    letter-spacing: 1.3px;
    color: $white-main;
    background-color: $pink-main;

    @include flexbox();
    justify-content: center;
  }

  .instagram img {
    float: right;
    width: 75px;

    img:hover {
      color: $pink-main;
    }
  }
}
