.search-form {
  margin-top: 15px;
  @include flexbox();
  flex-direction: column;
  form {
    width: 100%;
    @include flexbox();
  }
  img {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    color: $pink-main;
  }
}

.search-field {
  margin-bottom: 10px;
}

input[type='text'] {
  @include font($size-2, 300, $sans-serif);
  width: 150px;
  color: $black-main;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  height: 24px;

  @include transition(.3s ease);
}

input[type='text']:focus {
  width: 85%;
  border-bottom: 1px solid $black-main;
}



.search-results li {
  list-style-type: none;
}

.index-hide,
.results-hide {
  display: none;
}
