.box-contain {
	@include flexbox();
	max-width: 1000px;
	height: 75vh;
	align-items: center;
	justify-content: space-around;
}
.box {
	height: 250px;
	width: 250px;
	background-color: $blue-main;
	
	a {
		height: 250px;
		width: 250px;
	}
}

.img-contain {
	@include flexbox();
	flex-wrap: wrap;
	justify-content: center;
}
img {
	width:100vw;
}